:root {
  font-size: 12px;
}

/* Reset default margins and padding for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  color: white;
  padding: 1rem;
  gap: 1rem;
}

.searchBar {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  outline: none;
  border: 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  padding: 1rem;
}
