/* Reset default margins and padding for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: calc(10px + 2vmin);
  text-align: center;
}

.layout {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  padding: 1rem;
}

.searchBar {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: 0;
  outline: none;
}
