.card {
  color: black;
  position: relative;
  width: 100%;
  max-width: 30rem;
  aspect-ratio: 750 / 1050;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0.15;
  z-index: 0;
}

.cardContent {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  font-size: 1rem;
  height: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.titleAndAlignment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.1rem;
}

.sizeAndAlignment {
  display: flex;
  gap: 0.2rem;
  align-items: center;
  font-style: italic;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
  font-size: 1.5rem;
  color: black;
}

.allStats {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.abilityScores {
  display: flex;
  justify-content: space-around;
  width: 70%;
  gap: 0.5rem;
}

.armorAndHitPoints {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 30%;
  gap: 0.5rem;
}

.hitPoints {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.basicValue {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-radius: 1rem;
  background-color: #f0efeb;
}

.basicValue p:first-of-type {
  font-weight: bold;
}

.feats {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.5rem;
  flex-grow: 1;
}

.feat {
  text-align: start;
  gap: 0.5rem;
}

.feat span {
  font-weight: bold;
}
