.statIndicator {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.statValueContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 3rem;
  aspect-ratio: 3 / 3;
  height: 50%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: #f0efeb;
}

.modifier {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 3rem;
  aspect-ratio: 3 / 3;
  height: 50%;
  background-color: #fafafa;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.modifier[data-status='positive'] {
  background-color: #e1edc9;
  color: #12813f;
}

.modifier[data-status='negative'] {
  background-color: #fdd2cd;
  color: brown;
}
